@import '../../../SCSS/variables';

.toggleThemeContainer {
  display: flex;
  color: $light-color;
  padding-inline: 5px;
  padding-block: 2px;
  border-radius: $radius;
  user-select: none;
  &:hover {
    cursor: pointer;
    background-color: darken($primary-color, 10%);
  }
}

.toggleThemeButton {
  margin-right: 5px;
  &:hover {
    cursor: pointer;
    background-color: darken($primary-color, 10%);
  }
}
