@import '../../SCSS/variables';

.container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.wrapper {
  max-width: 720px;
  min-height: calc(100svh);
}

h1 {
  text-align: center;
}
