@import '../../../SCSS/variables';

.container {
  display: flex;
  background-color: $primary-color;

  align-content: center;
  justify-content: center;
}

.navContainer {
  display: flex;
  gap: 20px;

  align-items: center;
}

.logo img {
  width: 40px;
}

.search {
  width: 200px;
  background-color: $light-color;

  border-style: none;
  border-radius: $radius;
  padding-block: 3px;
  padding-inline: 5px;
}

.Test {
  margin-top: 30px;
}
