@import '../../../SCSS/variables';

.container {
  display: flex;
  background-color: $primary-color;
  min-height: 50px;
  align-content: center;
  justify-content: center;
  position: sticky;
  top: 0px;
  // transition: background-color 500ms;
  z-index: 9;
}

.navContainer {
  display: flex;
  max-width: 1000px;
  gap: 10px;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  img {
    max-width: 40px;
  }
}

.search {
  max-width: 200px;
  background-color: $light-color;

  border-style: none;
  border-radius: $radius;
  padding-block: 3px;
  padding-inline: 5px;
}

@media screen and (max-width: 500px) {
  .navContainer {
    flex-direction: column;
  }
}
