@import 'variables';

:root {
  --text-color: #{$dark-color};
  --bg-color: #{$light-color};
  --highlight-color: #{$highlight-color};

  --link-color: #{$light-color};
}

[data-theme='dark'] {
  --text-color: #{$light-color};
  --bg-color: #{$dark-color};
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: $font-family;
}

a {
  color: var(--link-color);
  text-decoration: none;
  &:hover {
    opacity: 80%;
  }
}

.active {
  color: $active-color;
}

::selection {
  color: $light-color;
  background: var(--highlight-color);
}
