@import 'variables';

:root {
  --text-color: #{$dark-color};
  --link-color: #{$dark-color};
  --bg-color: #{$light-color};
  --highlight-color: #{$highlight-color};
  --active-color: #{$active-color};
}

[data-theme='dark'] {
  --link-color: #{$light-color};
  --text-color: #{$light-color};
  --bg-color: #{$dark-color};
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: $font-family;
}

nav {
  a {
    color: $light-color;
  }
}

a {
  color: var(--link-color);
  text-decoration: none;

  &:hover {
    opacity: 80%;
  }

  &.active {
    color: var(--active-color);
  }
}

::selection {
  color: $light-color;
  background: var(--highlight-color);
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: var(--bg-color);
}
::-webkit-scrollbar-button {
  background-color: $primary-color;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: $highlight-color;
  &:hover {
    background: $primary-color;
  }
}
