$light-color: #fcfdfe;
$dark-color: #2d3033;

$primary-color: #335252;
// $secondary-color: #262f34;
// $active-color: #615049;
// $secondary-color: #f34a4a;
// $active-color: #ffde5c;

$font-family: Roboto, Arial, Helvetica, sans-serif;
$font-size: 16px;

$radius: 8px;
