$light-color: hsl(210, 50%, 99%);
$dark-color: hsl(201, 16%, 18%);
// $dark-color: #2d3033;

$primary-color: hsl(180, 23%, 26%);
$secondary-color: hsl(0, 88%, 62%);
$active-color: hsl(48, 100%, 68%);
$highlight-color: hsl(195, 17%, 50%);

$font-family: Roboto, Arial, Helvetica, sans-serif;
$font-size: 16px;
$radius: 8px;
